/*CAROUSSEL*/

#carroussel {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: relative;
    overflow: hidden; 
}

.slide_caroussel {
    width: 100%;
    max-width: 800px;
    height: 350px;
    position: absolute;
    transition: all 0.5s;
}

.slide_caroussel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn_slide {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 50%;   
    z-index: 1;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
  }
  
  .btn:active {
    transform: scale(1.1);
  }
  
  .btn_prev {
    top: 45%;
    left: 2%;
  }
  
  .btn_next {
    top: 45%;
    right: 2%;
  }

/*--------------------------------------------*/

.gallery_main{
    padding: 20px;
}

.gallery_main_container{
    max-width: 1250px;
    margin: 20px auto;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery_controller{
    display: flex;
    justify-content: space-between;
}
.display_controller {
    display: none;
    justify-content: center;
}

.display_controller svg, .add_img_controller svg {
    margin: 20px;
    height: 40px;
    width: 40px;
    transition: .3s;
}
.display_controller svg:hover, .add_img_controller svg:hover {
    cursor: pointer;
    color: lightblue;
}

.input_add_img{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    justify-content: center;
    width: 75%;
    background: lightslategray;
    padding: 10px;
}

.hide {
    display: none;
}

#send {
    margin-top: 10px;
}

.input_add_img label {
    font-family: sans-serif;
    font-size: 20px;
    text-transform: uppercase;
}

.input_add_img input{
    flex: none;
    margin-top: 10px;
    width: 60%;
}


.gallery_img_container{
    position: relative;
    cursor: pointer;
    transition: all .3s;
    margin: 20px;
    width: 100%;
}

.gallery_img_container img {
    width: 100%;
    height: 100%;
}

.gallery_img_container .delete_btn{
    display: none;
    transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}

.gallery_img_container:hover .delete_btn{
    display: inline-block;
    opacity: 1;
}




